<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
<Files ~ ".(gif|jpe?g|png|ico|m4a|js|event|title|subtitles|json|srt)$">
	Header set Cache-Control "max-age=2592000, public"
</Files>
<Files ~ "\.(css)$">
	Header set Pragma no-cache
	Header set Cache-Control no-cache
</Files>
<Files ~ "\.(m4a|srt|subtitles|title|wav|json|affiliate)$">
	SetEnvIf Referer "^https?://roudoku" ref_ok
	SetEnvIf Referer "^https?://133.130.59.45" ref_ok
	order deny,allow
	deny from all
	allow from env=ref_ok
</Files>
AddType audio/aac .aac
AddType audio/mp4 .mp4 .m4a
AddType audio/mpeg .mp1 .mp2 .mp3 .mpg .mpeg
AddType audio/ogg .oga .ogg
AddType audio/wav .wav
AddType audio/webm .webm

php_value file_uploads On
php_value upload_max_filesize 5000M
php_value post_max_size 5000M
php_value memory_limit 5000M
php_value max_execution_time 300
php_value max_input_time 300

LimitRequestBody 2147483647